.card {
    padding: 30px;
    background: #fefefe;
}

.cards:not(.custom) {
    // display: grid;
    column-count: 3;
    // grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
}
.photo {
    width: 100%;
    
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;

    cursor: pointer;
    // height: 280px;
    
    // img {
    //     width: 100%;
    // }
}

.why-cards {
    .card{
        width: calc(50% - 20px);

        &::after {
            content: "";

            width: 16px;
            height: 16px;

            position: absolute;
            left: calc(100% + 12px);
            top: 50%;
            transform: translateY(-50%);
            
            border-radius: 50%;
            background: #f3f3f3;
        }
        
        &:nth-child(2n) {
            align-self: flex-end;
            background: #f7f7f7;

            &::after {
                left: -28px;
            }

        }
        
    }
    &::after {
        content: "";

        width: 1px;
        height: 100%;

        position: absolute;
        left: 50%;
        top: 0;
        
        background: #f3f3f3;
    }
}